
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="jumbotron text-center">
        <h2>
            به سیستم مدیریت جلسات خوش آمدید!
        </h2>
    </div>
</div>


